#clock {



}

#clock img {
	position: absolute;

}

#hour {
	position: relative;
	
	transform: rotate(45deg);
}

#minute {
	position: relative;
	transform: rotate(45deg);
}

#second {
	position: relative;
	transform: rotate(45deg);
}
